.text-primary {
  color: $logo-shade-1 !important;
}

.logo-color {
  color: $logo-shade-1 !important;
}

.logo-button  {
  @include logo-color;
}
.logo-button:visited {
  @include logo-color;
}
.logo-button:hover {
  @include logo-color-focus;
}
.logo-button:focus {
  @include logo-color-focus;
}
.logo-button:disabled {
  @include logo-color-focus;
}

header.masthead {
  position: relative;
  background-color: $gray-800;
  background: url('../img/background/shane-mclendon-EN1tF2EG-50-unsplash.jpg') no-repeat center center;
  @include background-cover;
  padding-top: 1rem;
  padding-bottom: 1rem;
  .overlay {
    position: absolute;
    background-color: $gray-900;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.55;
  }
  h1 {
    font-size: 2rem;
  }
  @media (min-width: 768px) {
    padding-top: 6rem;
    padding-bottom: 6rem;
    h1 {
      font-size: 3rem;
    }
  }

  .logo {
    opacity: 0.9;
    max-width: 300px;
    height: auto;
  }

  .fa-clickable {
    cursor: pointer
  }

  .spinner-border {
    position: absolute;
    justify-content: center;
    right: 5%;
  }

  .card {
    // color: $gray-400;
    color: $white;
    font-weight: 300;
    font-size: 2rem;
    background: transparent;
    border: 0;
  }

  .main-heading {
    font-weight: 300;
    color: $white;
  }
}
