header.masthead {
  position: relative;
  background-color: $gray-800;
  background: url('https://picsum.photos/1000') no-repeat center center;
  @include background-cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
  .overlay {
    position: absolute;
    background-color: $gray-900;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  h1 {
    font-size: 2rem;
  }
  @media (min-width: 768px) {
    padding-top: 12rem;
    padding-bottom: 12rem;
    h1 {
      font-size: 3rem;
    }
  }
}

.col-12 {
  flex-grow: 1;
  transition: all 400ms ease;
}

.col-0 {
  width: 0;
  flex-shrink: 1;
  transition: all 400ms ease;
  visibility: hidden;
}

.row [class*='col-9'] {
    transition: all 5.5s ease-in-out;
}

// .col-xs-0, .col-sm-0, .col-md-0, .col-lg-0 {
//   position: relative;
//   min-height: 1px;
//   padding-right: 15px;
//   padding-left: 15px;
// }
//
// .col-xs-0 {
//  float: left; width: 0;
//  }
//
// @media (min-width: 768px) {
//   .col-sm-0 {
//  float: left; width: 0;
//  }
// }
//
// @media (min-width: 992px) {
//   .col-md-0 {
//  float: left; width: 0;
//  }
// }
//
// @media (min-width: 1200px) {
//   .col-lg-0 {
//  float: left; width: 0;
//  }
// }
// .row-fluid {
//     overflow:hidden;
//     margin-right: -15px;
//     margin-left: -15px;
// }
// .row-fluid div {
//     -webkit-transition: width 0.3s ease, height 0.3s ease, margin 0.3s ease, padding 0.3s ease, opacity 0.3s ease;
//     -moz-transition: width 0.3s ease, height 0.3s ease, margin 0.3s ease, padding 0.3s ease, opacity 0.3s ease;
//     -o-transition: width 0.3s ease, height 0.3s ease, margin 0.3s ease, padding 0.3s ease, opacity 0.3s ease;
//     transition: width 0.3s ease, height 0.3s ease, margin 0.3s ease, padding 0.3s ease, opacity 0.3s ease;
// }
