// Mixins

// Background Cover Mixin
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Font Mixins
@mixin body-font {
  font-weight: 100;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: black;

}

// Logo Mixins
@mixin logo-color {
  background-color: $logo-shade-1;
  border-color: $logo-shade-1;
  color: $gray-700;
}

@mixin logo-color-focus {
  background-color: $logo-shade-3;
  border-color: $logo-shade-3;
}
